<html>
<head>
<title>Acme Ltd</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
body { width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#636569; }
h3 { margin:2px 0 0 0; padding:0; font-size:15px; color:#303234; }
.name, .url { color:#636569; text-decoration:none; }
.contact { font-weight:bold; font-size:14px; }
.spacer { font-weight:bold; }
i.sign_off {font-size:15px;}
</style>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<p>&nbsp;</p>
<p>Cheers!</p>

<h3>John Doe</h3>
Acme Engineering
<br />
<p>
<i class="sign_off">{{ signoff }}</i>
</p>
<br />
<strong>Acme Limited</strong><br />
Earth 123, ABC place<br />

<span class="contact">E:</span> <a href="mailto:john.doe@acme.com" class="name">john.doe@acme.com</a>

&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;

<span class="contact">M:</span> 000-123-4567

&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;

<span class="contact">D:</span> 123-call-acme

<br /><br />

<!-- table width="792" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="792" height="180"><a href="" target="_blank"><img style="display:block;" src="" alt="" width="792" height="180" border="0"></a></td>
  </tr>
</table -->
</body>
</html>